@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	min-width: 300px;
	color: #444;

	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background: rgba($color: #000, $alpha: 0.03);
		&:hover {
			background: rgba($color: #000, $alpha: 0.05);
		}
	}
	&::-webkit-scrollbar-thumb {
		background: rgba($color: #000, $alpha: 0.1);
		&:hover {
			background: rgba($color: #000, $alpha: 0.15);
		}
	}
}
